/*-----SITE COLOR PALETTE
AO english: #157f1f;
Emerald: #4cb963;
Middle-blue-green: #a0eade;
Dark-blue-gray: #5c6784;
Oxford-blue: #1d263b;
*/


/*------GFONTS
Oswald, weights: 200, 400, 600 (Headings)
Roboto, weights: 400  (General text)
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0400;&display=swap');

/*------FONTS---------*/
p {
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 10rem;
}


/*------HERO Section---*/

#hero {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#hero .container {
  position: relative;
  z-index: 2;
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.btn {
    margin-top: 20px;
    background-color: #157f1f;
    border-color: white;
}

.btn-primary:hover {
    background-color: white ;
    border-color: white;
    color: #157f1f;
    
}

/*------VIDEO FALLBACK FOR NON-COMPATIBLE MOVILE DEVICES*/
@media (pointer: coarse) and (hover: none) {
  hero {
    background: url('assets/images/fallback_mower.jpg') black no-repeat center center scroll;
  }
  hero video {
    display: none;
  }
}

/*---NAV---*/

.navbar {
    height: 90px;
    background-color:rgba(21, 127, 31, 0.9);
    border-bottom: 4px solid #a0eade;
    box-shadow: 0px 2px 5px #1d263b;
      
}

.navbar-brand img {
    filter: drop-shadow(2px 2px 2px #1d263b);
   
}

.navbar-brand:hover img {
    filter: drop-shadow(2px 2px 2px #a0eade);
}

.nav-link {
    font-family: 'Oswald', serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.navbar-toggler {
    font-size: 1.9rem;
    color: #ffffff;
    border: none;
    padding: 0;
    margin-right: 0.3rem;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    color: #a0eade;
}

.navbar-brand-color:focus, .navbar-brand-color:hover {
    color: #B8873A;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover, .nav-link:active {
    color: #a0eade;
}


