/*-----SITE COLOR PALETTE
AO english: #157f1f;
Middle-blue-green: #a0eade;
*/


/*------GFONTS
Oswald, weights: 200, 400, 600 (Headings)
Roboto, weights: 400  (General text)
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0400;&display=swap');

/*------FONTS---------*/
p{
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    color: slategray;
    margin-top: 20px;
}


h1 {
    font-family: Oswald, sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) { /*---Make h1 smaller on smaller devices--*/
  h1 {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #157f1f;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 1.8rem;
    color: #157f1f;
}

h4 {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    color: #157f1f;
    text-transform: uppercase;
}

/*---NAV--*/

@media only screen and (max-width: 600px) {  /*---Make brand logo smaller on smaller devices--*/
  #logo {
      height: 40px;
    }
}

@media only screen and (max-width: 280px) {  /*---Make brand logo even smaller on even smaller devices--*/
  #logo {
      height: 30px;
    }
}

.navbar {  
    background-color: #157f1f;
    border-bottom: 4px solid #a0eade;
    box-shadow: 0px 2px 5px #1d263b;
    height: 70px;    
}

.navbar-brand img {
    filter: drop-shadow(2px 2px 2px #1d263b);
}

.navbar-brand:hover img {
    filter: drop-shadow(2px 2px 2px #a0eade);
}

.nav-link {
    font-family: 'Oswald', serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}




/*------HERO Section---*/

#hero {
    position: relative;
    height: 97vh; /*------Slightly expose the next section---*/
    width: 100%;
    overflow: hidden;
}

#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

#hero .container {
    position: relative;
    z-index: 2;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
 }

 .hero-text {
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    color:#ffffff;
 }

.btn {
    margin-top: 170px;
    background-color: #157f1f;
    border-color:#ffffff;
}

.btn-primary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #157f1f;
    
}

/*------VIDEO FALLBACK FOR NON-COMPATIBLE MOVILE DEVICES*/
@media (pointer: coarse) and (hover: none) {
  hero {
    background: url('assets/images/fallback_mower.jpg') black no-repeat center center scroll;
  }
  hero video {
    display: none;
  }
}

/*------Primary Features Section---*/

#features{
    padding-top: 50px;  /*------Allow for scrolling---*/
    padding-bottom: 50px;
}

.rounded-circle {
    width: 300px;
    height: 300px;
    border: 12px solid #157f1f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

/*------Accessories Section---*/
.feature-set{
    padding:20px;
}

.section-heading{
    padding: 70px;
    color: #157f1f; 
}
#accessories{
    background-color: #a0eade;
    padding-bottom: 40px;
}
#accessories h4 {
    padding-top: 40px;
}

/*---youtube vid---*/
.youtube-vid{
    padding: 0px;  /*------Allow for scrolling---*/ 
    
}
/*---MAP & CONTACT FORM---*/
#contact{
    height: 700px;  /*------Allow for scrolling---*/
}

#contact-right-col {
    padding: 120px;
}

#gmap {
    padding: 0px;
}

#contact-button {
    margin-top: 40px;
}

#contact-right-col h2, h4{
    padding-bottom: 20px;
}
small {
    padding-top: 20px;
}




/*---FOOTER---*/

.footer {
  background-color: #157f1f ;
  text-align: center;
  font-size: 1rem;
}

.text-lg-left, .text-lg-right {
    color: #ffffff;
}

.fa-twitter,
.fa-facebook-f,
.fa-linkedin-in {
    color: #ffffff;
    padding: 10px;
}


