/*-----SITE COLOR PALETTE
AO english: #157f1f;
Emerald: #4cb963;
Middle-blue-green: #a0eade;
Dark-blue-gray: #5c6784;
Oxford-blue: #1d263b;
*/


/*------GFONTS
Oswald, weights: 200, 400, 600 (Headings)
Roboto, weights: 400  (General text)
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0400;&display=swap');

/*------FONTS---------*/
p{
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    color: slategray;
    margin-top: 20px;
}

.hero-text {
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    color:#ffffff;
}


h1 {
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #157f1f;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 1.8rem;
    color: #157f1f;
}


/*------HERO Section---*/

#hero {
  position: relative;
  background-color: black;
  height: 90vh; /*------Expose next section---*/
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

#hero .container {
  position: relative;
  z-index: 2;
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.btn {
    margin-top: 40px;
    background-color: #157f1f;
    border-color:#ffffff;
}

.btn-primary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #157f1f;
    
}

/*------VIDEO FALLBACK FOR NON-COMPATIBLE MOVILE DEVICES*/
@media (pointer: coarse) and (hover: none) {
  hero {
    background: url('assets/images/fallback_mower.jpg') black no-repeat center center scroll;
  }
  hero video {
    display: none;
  }
}

/*---NAV--*/

.navbar {
    
    background-color: #157f1f;
    border-bottom: 4px solid #a0eade;
    box-shadow: 0px 2px 5px #1d263b;
      
}

.navbar-brand img {
    filter: drop-shadow(2px 2px 2px #1d263b);
   
}

.navbar-brand:hover img {
    filter: drop-shadow(2px 2px 2px #a0eade);
}

.nav-link {
    font-family: 'Oswald', serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}


/*------Secondary Features Section Grid---*/
#secondary-features {
  padding: 6rem 0;
  background-color: #1d263b;
}

#secondary-features h2 {
    color: #ffffff;
}

#secondary-features h3 {
    color: #a0eade;
    padding-top: 15px;
}

#secondary-features h4 {
    color: #a0eade;
}

#secondary-features p {
    color: #4cb963;
    font-size: 1.3rem;
}

.fa-info-circle {
    padding-top: 40px;
    color: #4cb963;
}

.gridpad {
    padding: 20px;
}

/*---youtube vid---*/
.youtube-vid{
    padding: 0px;
}


/*---MAP & CONTACT FORM---*/

.contact-right-col {
    padding: 20px;
}
.form-space {
    padding-top: 20px;
}


/*---FOOTER---*/

.footer {
  background-color: #157f1f ;
  text-align: center;
  font-size: 1rem;
}

.text-lg-left, .text-lg-right {
    color: #ffffff;
}

.fa-twitter,
.fa-facebook-f,
.fa-linkedin-in {
    color: #ffffff;
    padding: 20px;
}